@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap"rel="stylesheet");

body {
  margin: 0;
  padding: 0 20px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
