@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap"rel="stylesheet");

body {
  font-family: "Poppins", sans-serif;
}
.navigation-items {
  list-style: none;
  margin: 0;
  padding: 0 15px 20px;
}

.navigation-item {
  display: inline;
  margin: 0 20px 0 0;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  margin: 0;
  line-height: 28px;
}

button {
  margin-left: 10px;
  position: relative;
  top: 1px;
  color: #fda426;
}

input[type="text"] {
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 30px;
  outline: 0;
  padding: 20px;
  width: 300px;
}
.ul {
  list-style-type: none;
}
link {
  color: #fda426;
}
